
    body{
      background-color: black;
    }
    
    
    #fondGris{
    background-color: grey;
    text-align: center;
    height:40px;
    padding=15px; 
    }

    a{
    color:white;
    text-align: center;
    font-size:1.5em;
    }
    
    
    h1 {
        color:rgb(255, 109, 11);
        text-align: center;
        font-size: 3em; 
      }

      #script{
        /* on utilise les flex box pour centrer c'est plus facile*/
          display: flex;
        
          /* pour centrer horizontalement */
          justify-content: center;
        
        }